<!DOCTYPE html>
<html>
  <head>
    <title>home page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello, <%= user.name %></h1>
    <p> <%= user.id %></p>
    <img src="<%= user.avatar_url %>" alt="" srcset="">
  </body>
</html>
